.admin-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.admin-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.admin-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 2rem;
}

.admin-section {
  flex: 2;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.admin-aside {
  flex: 1;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.new-hospital-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 1rem;
}

.new-hospital-input {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.new-hospital-input:focus {
  outline: none;
  border: 1px solid #007bff;
}

.new-hospital-submit {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-hospital-submit:hover {
  background-color: #0056b3;
}
