/* .for-link {
    background: rgb(61, 135,216);
} */

.for-link :hover{
    color: black; 
    background-color: white;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: rgb(26, 63, 232);
    background-color: transparent;
}